*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

h1 {
    display: inline-block;
}

header, h1, img{
    vertical-align: middle;
    background-color: #ffffff;
}

body {
   background-color: rgb(128, 128, 128, 0.5);
   margin-right: 400px;
}

#barra {
    margin-bottom: 5px;
    margin-top: 50px;
}


#bottone {
    background-color: aqua;
    color: #ffffff;
}

.bottoni {
    padding: 10px;
    border-radius: 15px;
    border: 1px solid gray;
    color: rgb(128, 128, 128, 0.5);

    
}

.Editorial {
    padding: 5px;
    border-radius: 15px;
    border: 1px solid gray;
    color: #ffffff;
    font-size: smaller;
    background-color: aqua;


}

.sfondo {
    background-color: #ffffff;
    text-align: left;
    padding: 30px;
    margin-right: 200px;
    margin-left: 200px;
}

.positive {
    border-radius: 50%;
    border: 1px solid;
    display: inline-block;
    width: auto;
    height: auto;
    text-align: center;
    vertical-align: middle;
    color: #0acc2e;

}

.Goals {
    padding: 5px;
    border-radius: 15px;
    border: 1px solid gray;
    color: #ffffff;
    font-size: smaller;
    background-color: rgb(234, 0, 255);


}

p {
    padding: 10px;
}


.negative {
    border-radius: 50%;
    border: 1px solid;
    display: inline-block;
    width: auto;
    height: auto;
    text-align: center;
    vertical-align: middle;
    color: #fa0202;
}

.Recruiting {
    padding: 5px;
    border-radius: 15px;
    border: 1px solid gray;
    color: #ffffff;
    font-size: smaller;
    background-color: rgb(10, 185, 66);


}

#Mobile {
    padding: 5px;
    border-radius: 15px;
    border: 1px solid gray;
    color: #ffffff;
    font-size: smaller;
    background-color: rgb(207, 138, 9);

}

#Website {
    padding: 5px;
    border-radius: 15px;
    border: 1px solid gray;
    color: #ffffff;
    font-size: smaller;
    background-color: rgb(174, 57, 133);

}

#Sales {
    padding: 5px;
    border-radius: 15px;
    border: 1px solid gray;
    color: #ffffff;
    font-size: smaller;
    background-color: rgb(163, 252, 21);
}




